*{
    padding: 0px;
    margin: 0px;
}
ul{
    list-style: none; /*estilo de la lista*/
}
ul li {
    font-family: 'segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*tipo de letra*/
    font-size: 22px; /*tamaño de la letra*/
    height: 60px; /*altura de cada opcion de la lista*/
}
ul li a{
    height: 60px; /*altura*/
    background-color: #333; /*color de fondo*/
    display: block;
    border-left: 10px solid rgb(8,96,179);
    border-right: 5px solid rgb(144,253,111);
    padding-left: 15px; /*separación ixquierda del texto*/
    text-decoration: none;
    color: #bfe1f1;
}
ul li a:hover{
    margin-left: 10px; /*separacion del lado izquierdo*/
    color: #b9b7b7;/*color de letra */
    background-color: #0b1741; /*color de fondo*/
    box-shadow: 10px 10px 20px #000; /*sombra */
    transform: rotate(4deg); /*movimiento de roacion */
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    td{
        vertical-align: top;
    }
}
body {
    background-color:aquamarine;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    font-size: 22px;
}
td{
    vertical-align: text-top;
}
ul{
    list-style: circle;
}
a{
    text-decoration: none;
    color: black;
}
div{
    color:black;
    height: 100%;
    height: 100%;
    padding: 20px 10px 40px;
    margin: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    border: solid 2px black;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px black;
}